*.exe
*.txt
*.pdf
*.log
*.zip
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.tar.lz
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.svg
*.mp3
*.wav
*.mp4
*.avi
*.mkv
*.mov
*.flv
*.wmv
*.mpg
*.mpeg
*.ogg
*.webm
*.flac
*.aac
*.m4a
*.wma
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.mp4
*.avi
*.mkv
*.mov
*.flv